/* 下部広告部分 */
/* items/index.htmlの広告cssを所々使いまわしています。 */

.ad-footer-contents {
  width: 100vw;
  background-size: cover;
  
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.footer {
  width: 100vw;
  padding: 5vh 0;
  color:black;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.furima-details {
  margin: 0 4vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: black;
  font-size: 12px;
  line-height: 30px;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}