* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-icon {
  height: 10px;
  width: 10px;
}

.search-form>.input-box {
  height: 5vh;
  width: 100vw;
  padding-left: 10px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.back-path {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-family: 'Hiragino Mincho Pro';
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-family: 'Hiragino Mincho Pro';
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color:white;
  font-family: 'Hiragino Mincho Pro';
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: white;
  font-family: 'Hiragino Mincho Pro';
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: white;
  font-family: 'Hiragino Mincho Pro';
}

.sign-up {
  text-decoration: none;
  color: white;
  font-family: 'Hiragino Mincho Pro';
}