a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.title-contents {
  width: 100vw;
  height: 120vh;
  background-image: url('https://cdn.pixabay.com/photo/2018/09/23/23/38/wine-rack-3698774_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.container {
  padding-bottom: 300px;
}

.search-text {
  width: 65vw;
  height: 30px;
}

.service-title {
  font-size: 100px;
  padding-bottom: 400px;
  padding-right: 150px;
  color: black;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}


.ad-contents {
  width: 100vw;
  background-image: image-url('furima-header02.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}



.feature-contents {
  padding: 5vh 15vw;
  background-color: black;
}

.feature-contents>.title {
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
  font-family: 'Hiragino Mincho Pro';
  margin-bottom: 5vh;
  position: relative;
  color: white;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-image {
  width: 100%;
  height: 80%;
}

.item-contents {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color: white;
  font-family: 'Hiragino Mincho Pro';
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: black;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: black;
  color: white;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

